USE [SmartLog]
GO
/****** Object:  Table [dbo].[CIDADE]    Script Date: 25/11/2019 00:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIDADE](
	[Cod_Cidade] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Cidade] [varchar](100) NULL,
	[Cod_Estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Cidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 25/11/2019 00:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[Cod_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Data_Cadastro] [datetime] NULL,
	[Nome_Cliente] [varchar](100) NULL,
	[Data_Nascimento] [date] NULL,
	[Telefone_Cliente] [varchar](14) NULL,
	[Email_Cliente] [varchar](40) NULL,
	[CPF_CNPJ] [varchar](20) NULL,
	[Cod_TipoCliente] [int] NULL,
	[Cep] [varchar](10) NULL,
	[Logradouro] [varchar](100) NULL,
	[Numero] [varchar](10) NULL,
	[Bairro] [varchar](40) NULL,
	[Cod_Cidade] [int] NULL,
	[Cod_Estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 25/11/2019 00:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[Cod_Estado] [int] IDENTITY(1,1) NOT NULL,
	[UF_Estado] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCIONARIO]    Script Date: 25/11/2019 00:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONARIO](
	[Cod_Matricula] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Funcionario] [varchar](100) NULL,
	[Data_Nascimento] [date] NULL,
	[Telefone_Funcionario] [varchar](14) NULL,
	[Email_Funcionario] [varchar](40) NULL,
	[CPF_Funcionario] [varchar](20) NULL,
	[Cod_Cargo] [int] NULL,
	[Senha] [varchar](100) NULL,
	[Cep] [varchar](10) NULL,
	[Logradouro] [varchar](100) NULL,
	[Numero] [varchar](10) NULL,
	[Bairro] [varchar](50) NULL,
	[Cod_Cidade] [int] NULL,
	[Cod_Estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANUTENCAO]    Script Date: 25/11/2019 00:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANUTENCAO](
	[Cod_Manutencao] [int] IDENTITY(1,1) NOT NULL,
	[Data_Entrada] [date] NULL,
	[Previsao_Saida] [date] NULL,
	[Descricao_Servico] [varchar](200) NULL,
	[Cod_Veiculo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Manutencao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 25/11/2019 00:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[Cod_Marca] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOTORISTA]    Script Date: 25/11/2019 00:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOTORISTA](
	[Cod_Motorista] [int] IDENTITY(1,4) NOT NULL,
	[Nome_Motorista] [varchar](100) NULL,
	[Data_Nascimento] [date] NULL,
	[CNH_Categoria] [int] NULL,
	[CNH_Numero] [varchar](11) NULL,
	[CNH_Vencimento] [date] NULL,
	[Telefone_Motorista] [varchar](14) NULL,
	[Email_Motorista] [varchar](40) NULL,
	[Status_Motorista] [int] NULL,
	[Cep] [varchar](10) NULL,
	[Logradouro] [varchar](100) NULL,
	[Numero] [varchar](10) NULL,
	[Bairro] [varchar](50) NULL,
	[Cod_Cidade] [int] NULL,
	[Cod_Estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Motorista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS_VEICULO]    Script Date: 25/11/2019 00:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS_VEICULO](
	[Cod_Status] [int] IDENTITY(1,1) NOT NULL,
	[Descricao_Status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_CARGO]    Script Date: 25/11/2019 00:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_CARGO](
	[Cod_Cargo] [int] IDENTITY(1,1) NOT NULL,
	[Cargo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_CLIENTE]    Script Date: 25/11/2019 00:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_CLIENTE](
	[Cod_TipoCliente] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_TipoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEICULO]    Script Date: 25/11/2019 00:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEICULO](
	[Cod_Veiculo] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Marca] [int] NULL,
	[Modelo] [varchar](20) NULL,
	[Renavam] [varchar](11) NULL,
	[Cod_Status] [int] NULL,
	[Data_Aquisicao] [date] NULL,
	[Ano_Fabricacao] [char](4) NULL,
	[KM_Atual] [varchar](10) NULL,
	[KM_Prevencao] [varchar](10) NULL,
	[Ultima_Revisao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Veiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIAGEM]    Script Date: 25/11/2019 00:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIAGEM](
	[Cod_Viagem] [int] IDENTITY(1,4) NOT NULL,
	[Data_Viagem] [date] NULL,
	[Distancia_Km] [varchar](10) NULL,
	[Valor] [decimal](18, 2) NULL,
	[Cep_Origem] [varchar](10) NULL,
	[Lograd_Origem] [varchar](100) NULL,
	[Numero_Origem] [int] NULL,
	[Complemento_Origem] [varchar](100) NULL,
	[Bairro_Origem] [varchar](50) NULL,
	[Cod_CidadeOrigem] [int] NULL,
	[Cod_UFOrigem] [int] NULL,
	[Cep_Destino] [varchar](10) NULL,
	[Lograd_Destino] [varchar](100) NULL,
	[Numero_Destino] [int] NULL,
	[Complemento_Destino] [varchar](100) NULL,
	[Bairro_Destino] [varchar](50) NULL,
	[Cod_CidadeDestino] [int] NULL,
	[Cod_UFDestino] [int] NULL,
	[Cod_Cliente] [int] NULL,
	[Cod_Veiculo] [int] NULL,
	[Cod_Atendente] [int] NULL,
	[Cod_Motorista] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Viagem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CIDADE] ON 

INSERT [dbo].[CIDADE] ([Cod_Cidade], [Nome_Cidade], [Cod_Estado]) VALUES (1, N'Acrelandia', 1)
INSERT [dbo].[CIDADE] ([Cod_Cidade], [Nome_Cidade], [Cod_Estado]) VALUES (2, N'Assis Brasil', 1)
INSERT [dbo].[CIDADE] ([Cod_Cidade], [Nome_Cidade], [Cod_Estado]) VALUES (3, N'Brasileia', 1)
GO
SET IDENTITY_INSERT [dbo].[CIDADE] OFF
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([Cod_Cliente], [Data_Cadastro], [Nome_Cliente], [Data_Nascimento], [Telefone_Cliente], [Email_Cliente], [CPF_CNPJ], [Cod_TipoCliente], [Cep], [Logradouro], [Numero], [Bairro], [Cod_Cidade], [Cod_Estado]) VALUES (10, CAST(N'2019-10-26T16:32:10.147' AS DateTime), N'THAYS SILVA', CAST(N'1996-06-19' AS Date), N'5055', N'THAYS@GMAIL.COM', N'456', 2, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CLIENTE] ([Cod_Cliente], [Data_Cadastro], [Nome_Cliente], [Data_Nascimento], [Telefone_Cliente], [Email_Cliente], [CPF_CNPJ], [Cod_TipoCliente], [Cep], [Logradouro], [Numero], [Bairro], [Cod_Cidade], [Cod_Estado]) VALUES (11, CAST(N'2019-11-23T00:20:28.830' AS DateTime), N'Mhell Silva', CAST(N'2011-03-24' AS Date), N'(11)95055-3070', N'mhel2019@gmail.com', N'456.987.398-70', 2, N'06448195', N'Rua Londrina', N'99', N'Jd. Libano', 5727, 25)
INSERT [dbo].[CLIENTE] ([Cod_Cliente], [Data_Cadastro], [Nome_Cliente], [Data_Nascimento], [Telefone_Cliente], [Email_Cliente], [CPF_CNPJ], [Cod_TipoCliente], [Cep], [Logradouro], [Numero], [Bairro], [Cod_Cidade], [Cod_Estado]) VALUES (12, CAST(N'2019-11-23T01:56:36.593' AS DateTime), N'Jade Silva', CAST(N'2019-11-23' AS Date), N'11950553070', N'jade@gmail.com', N'456.987.398-70', 2, N'06448195', N'Londrina', N'99', N'Jd.Libano', 5727, 25)
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
SET IDENTITY_INSERT [dbo].[ESTADO] ON 

INSERT [dbo].[ESTADO] ([Cod_Estado], [UF_Estado]) VALUES (1, N'AC')
INSERT [dbo].[ESTADO] ([Cod_Estado], [UF_Estado]) VALUES (2, N'AL')
INSERT [dbo].[ESTADO] ([Cod_Estado], [UF_Estado]) VALUES (3, N'AP')
SET IDENTITY_INSERT [dbo].[ESTADO] OFF
SET IDENTITY_INSERT [dbo].[FUNCIONARIO] ON 

INSERT [dbo].[FUNCIONARIO] ([Cod_Matricula], [Nome_Funcionario], [Data_Nascimento], [Telefone_Funcionario], [Email_Funcionario], [CPF_Funcionario], [Cod_Cargo], [Senha], [Cep], [Logradouro], [Numero], [Bairro], [Cod_Cidade], [Cod_Estado]) VALUES (1, N'Administrador', NULL, NULL, N'admin', NULL, NULL, N'admin', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[FUNCIONARIO] ([Cod_Matricula], [Nome_Funcionario], [Data_Nascimento], [Telefone_Funcionario], [Email_Funcionario], [CPF_Funcionario], [Cod_Cargo], [Senha], [Cep], [Logradouro], [Numero], [Bairro], [Cod_Cidade], [Cod_Estado]) VALUES (2, N'Camila SIlva', CAST(N'2000-01-23' AS Date), N'11950553070', NULL, N'45698739870', 1, NULL, N'06448195', N'Londrina', N'99', N'Jardim', 5727, 25)
INSERT [dbo].[FUNCIONARIO] ([Cod_Matricula], [Nome_Funcionario], [Data_Nascimento], [Telefone_Funcionario], [Email_Funcionario], [CPF_Funcionario], [Cod_Cargo], [Senha], [Cep], [Logradouro], [Numero], [Bairro], [Cod_Cidade], [Cod_Estado]) VALUES (4, N'Teste Two', CAST(N'2019-11-23' AS Date), N'11191299498', NULL, N'44444444444', 1, NULL, N'06415070', N'Rua sem nome', N'99', N'Jardim', 5663, 25)
SET IDENTITY_INSERT [dbo].[FUNCIONARIO] OFF
SET IDENTITY_INSERT [dbo].[MARCA] ON 

INSERT [dbo].[MARCA] ([Cod_Marca], [Descricao]) VALUES (4, N'Acura')
INSERT [dbo].[MARCA] ([Cod_Marca], [Descricao]) VALUES (5, N'Agrale')
INSERT [dbo].[MARCA] ([Cod_Marca], [Descricao]) VALUES (6, N'Alfa Romeo')
GO
SET IDENTITY_INSERT [dbo].[MARCA] OFF
SET IDENTITY_INSERT [dbo].[STATUS_VEICULO] ON 

INSERT [dbo].[STATUS_VEICULO] ([Cod_Status], [Descricao_Status]) VALUES (1, N'Manutenção')
INSERT [dbo].[STATUS_VEICULO] ([Cod_Status], [Descricao_Status]) VALUES (2, N'Pátio')
INSERT [dbo].[STATUS_VEICULO] ([Cod_Status], [Descricao_Status]) VALUES (3, N'Viagem')
SET IDENTITY_INSERT [dbo].[STATUS_VEICULO] OFF
SET IDENTITY_INSERT [dbo].[TIPO_CARGO] ON 

INSERT [dbo].[TIPO_CARGO] ([Cod_Cargo], [Cargo]) VALUES (1, N'Atendente')
INSERT [dbo].[TIPO_CARGO] ([Cod_Cargo], [Cargo]) VALUES (2, N'Gerente')
SET IDENTITY_INSERT [dbo].[TIPO_CARGO] OFF
SET IDENTITY_INSERT [dbo].[TIPO_CLIENTE] ON 

INSERT [dbo].[TIPO_CLIENTE] ([Cod_TipoCliente], [Descricao]) VALUES (2, N'Pessoa Física')
INSERT [dbo].[TIPO_CLIENTE] ([Cod_TipoCliente], [Descricao]) VALUES (3, N'Pessoa Jurídica')
SET IDENTITY_INSERT [dbo].[TIPO_CLIENTE] OFF
SET IDENTITY_INSERT [dbo].[VEICULO] ON 

INSERT [dbo].[VEICULO] ([Cod_Veiculo], [Cod_Marca], [Modelo], [Renavam], [Cod_Status], [Data_Aquisicao], [Ano_Fabricacao], [KM_Atual], [KM_Prevencao], [Ultima_Revisao]) VALUES (2, 125, N'Civic', N'00485d82', 1, CAST(N'2019-11-17' AS Date), N'2001', N'19455', N'200', CAST(N'0001-01-01' AS Date))
INSERT [dbo].[VEICULO] ([Cod_Veiculo], [Cod_Marca], [Modelo], [Renavam], [Cod_Status], [Data_Aquisicao], [Ano_Fabricacao], [KM_Atual], [KM_Prevencao], [Ultima_Revisao]) VALUES (3, 269, N'Gol', N'008755525', 3, CAST(N'2019-11-17' AS Date), N'2012', N'235000', N'10000', CAST(N'2019-11-10' AS Date))
INSERT [dbo].[VEICULO] ([Cod_Veiculo], [Cod_Marca], [Modelo], [Renavam], [Cod_Status], [Data_Aquisicao], [Ano_Fabricacao], [KM_Atual], [KM_Prevencao], [Ultima_Revisao]) VALUES (5, 180, N'C180', N'00800775500', 1, CAST(N'2019-11-24' AS Date), N'2017', N'10000', N'', CAST(N'2019-09-10' AS Date))
SET IDENTITY_INSERT [dbo].[VEICULO] OFF
ALTER TABLE [dbo].[CIDADE]  WITH CHECK ADD FOREIGN KEY([Cod_Estado])
REFERENCES [dbo].[ESTADO] ([Cod_Estado])
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD FOREIGN KEY([Cod_Cidade])
REFERENCES [dbo].[CIDADE] ([Cod_Cidade])
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD FOREIGN KEY([Cod_Estado])
REFERENCES [dbo].[ESTADO] ([Cod_Estado])
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD FOREIGN KEY([Cod_TipoCliente])
REFERENCES [dbo].[TIPO_CLIENTE] ([Cod_TipoCliente])
GO
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD FOREIGN KEY([Cod_Cidade])
REFERENCES [dbo].[CIDADE] ([Cod_Cidade])
GO
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD FOREIGN KEY([Cod_Cargo])
REFERENCES [dbo].[TIPO_CARGO] ([Cod_Cargo])
GO
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD FOREIGN KEY([Cod_Estado])
REFERENCES [dbo].[ESTADO] ([Cod_Estado])
GO
ALTER TABLE [dbo].[MANUTENCAO]  WITH CHECK ADD FOREIGN KEY([Cod_Veiculo])
REFERENCES [dbo].[VEICULO] ([Cod_Veiculo])
GO
ALTER TABLE [dbo].[MOTORISTA]  WITH CHECK ADD FOREIGN KEY([Cod_Cidade])
REFERENCES [dbo].[CIDADE] ([Cod_Cidade])
GO
ALTER TABLE [dbo].[MOTORISTA]  WITH CHECK ADD FOREIGN KEY([Cod_Estado])
REFERENCES [dbo].[ESTADO] ([Cod_Estado])
GO
ALTER TABLE [dbo].[VEICULO]  WITH CHECK ADD FOREIGN KEY([Cod_Marca])
REFERENCES [dbo].[MARCA] ([Cod_Marca])
GO
ALTER TABLE [dbo].[VEICULO]  WITH CHECK ADD FOREIGN KEY([Cod_Status])
REFERENCES [dbo].[STATUS_VEICULO] ([Cod_Status])
GO
ALTER TABLE [dbo].[VIAGEM]  WITH CHECK ADD FOREIGN KEY([Cod_Atendente])
REFERENCES [dbo].[FUNCIONARIO] ([Cod_Matricula])
GO
ALTER TABLE [dbo].[VIAGEM]  WITH CHECK ADD FOREIGN KEY([Cod_CidadeOrigem])
REFERENCES [dbo].[CIDADE] ([Cod_Cidade])
GO
ALTER TABLE [dbo].[VIAGEM]  WITH CHECK ADD FOREIGN KEY([Cod_CidadeDestino])
REFERENCES [dbo].[CIDADE] ([Cod_Cidade])
GO
ALTER TABLE [dbo].[VIAGEM]  WITH CHECK ADD FOREIGN KEY([Cod_Cliente])
REFERENCES [dbo].[CLIENTE] ([Cod_Cliente])
GO
ALTER TABLE [dbo].[VIAGEM]  WITH CHECK ADD FOREIGN KEY([Cod_Motorista])
REFERENCES [dbo].[MOTORISTA] ([Cod_Motorista])
GO
ALTER TABLE [dbo].[VIAGEM]  WITH CHECK ADD FOREIGN KEY([Cod_UFDestino])
REFERENCES [dbo].[ESTADO] ([Cod_Estado])
GO
ALTER TABLE [dbo].[VIAGEM]  WITH CHECK ADD FOREIGN KEY([Cod_UFOrigem])
REFERENCES [dbo].[ESTADO] ([Cod_Estado])
GO
ALTER TABLE [dbo].[VIAGEM]  WITH CHECK ADD FOREIGN KEY([Cod_Veiculo])
REFERENCES [dbo].[VEICULO] ([Cod_Veiculo])
GO
